@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakesTTLakesTTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'), url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/TTLakes-DemiBold.woff') format('woff'), url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TT Lakes";
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "TT Lakes";
    font-size: 16px;
}


.page__aside {
    width: 320px;
    box-shadow: 20px 0px 50px -5px rgba(14, 24, 80, 0.2);
    position:sticky;
    height:100%;
   
}


.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s
}
.button::after{
    content: "";
    width:50px;
    height:50px;
    border-radius: 50%;
    position:absolute;  
}
.button:hover::after {
    border: 2px solid #FF3E79;
    transition: transform 0.7s ease-in-out;
    transform: scale(0.85)
}
.button:focus::after {
    border: 2px solid #FF3E79;
    transition: transform 0.7s ease-in-out;
    transform: scale(0.85)
}
.button:hover {
    opacity: 0.53;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 3px 3px 5px 1px #aa3E79;
}
.button:focus {
    outline:none;
    opacity: 0.53;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 3px 3px 5px 1px #aa3E79;
}
.button:active {
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 0px 0px 5px 0px #553E79 inset, 3px 3px 5px 1px #ff9ee2;
}

@keyframes logo-scale{
    to{
        transform: scale(1.05);
    }
}

.logo__icon:hover{
    animation-name: logo-scale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}

.aside__close{
    transform: translate(15px, 25px);
}
.aside__logo{
    position: absolute;
    transform: translate(70px, -25px);
}
.aside__serch{
    position: absolute;
    transform: translate(265px, -16px);
}

.aside__nav{
    margin-left: 0px;
    margin-top: 50px;
}
.nav__list {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    align-items: flex-start;
    color: #1B1C21;
    margin-left: 5px;
    overflow: hidden;
}
.nav__item {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}


.nav__link {
    color: #1B1C21;
    transition: all 0.5s;
    display: block;
    padding: 10px;
    width: 100%;
    text-align: start;
    border-radius: 7px;
    text-decoration: none;
}
.nav__link:hover{
    color:#7E7E82;
    transition:all 0.3s ;
    background-color:#F9F9f9;
    transform: translateX(10px);
}
.nav__link:hover::before {
    content: "";
    Width: 4px;
    Height: 30px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    transition: all 0.7s;
    transform: translateX(-10px) translateY(-4px)
}
.nav__link:focus{
     outline:none;
    color:#7E7E82;
    transition:all 0.3s;
    transform: translateX(10px);
    
}
.nav__link:focus::before {
    content: "";
    Width: 4px;
    Height: 30px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    transition: all 0.7s;
    transform: translateX(-10px) translateY(-5px)
}
.nav__link:active{
   color: #FF3E79;
    transition:all 0.3s;
}
.nav__link:active::before {
    content: "";
    Width: 4px;
    Height: 30px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    transition: all 0.7s;
    transform: translateX(-10px) translateY(-5px);
}
.nav__link--active {
    color: #7E7E82;
    margin-left: 10px;
    cursor:default;
    pointer-events: none;
}
.nav__link--active::before {
    content: "";
    Width: 4px;
    Height: 30px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    transition: all 0.7s;
    transform: translateX(-10px) translateY(-5px)
}


.aside__f-back{
    margin-left: 15px;
    margin-top: 20px;
}
.f-back__list{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items:center;
    gap: 15px;
}


.aside__link {
    display: block;
    margin: 20px 15px;
    text-decoration: none;
    color: #1B1C21;
    transition: color 0.2s
}
.aside__link:active{
    color:#FF3E79;
}
.aside__link--font-size--24px{
    font-size: 24px;;
}


.aside__lang{
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 30px 0px 0px 15px;
}
.lang-button{
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: inherit;
}
.lang-button:hover{
    color: #7E7E82;
}
.lang-button:focus{
    color: #7E7E82;
}