@charset "windows-1251";

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakesTTLakesTTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'), url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/TTLakes-DemiBold.woff') format('woff'), url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.menu__list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items:center;
    gap: 25px;
}
.button-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page__header{
    display:flex;
    align-items:center;
    justify-content: space-around;
    height: 88px;

}
.main {
    background-color: #F8F8F8;
}
.menu__list--content-before--decoration::before {
    content: "";
    Width: 2px;
    Height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    
   
}
.title {
    font-family: 'TT Lakes';
}
.title__text {
    display: flex;
    padding-top: 20px;
}
.title__text--content-before--decorative::before {
    content: "";
    Width: 4px;
    Height: 40px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    margin-left:0;
    margin-right: 10px;

}
.main__nav{
    margin:20px 15px 10px 10px;
}
.nav__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: auto;
    height: 40px;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}
.nav__list--content-after--decorative::after {
    content: "";
    position: absolute;
    align-self: end;
    margin-right: -2px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 26px;
    height: 40px;
}

.nav__link {
    width: auto;
    text-align: center;
    margin-right: 10px;
    padding: 5px 5px 5px 10px;
    height: auto;
    font-size: 16px;
    color: #7E7E82;
    font-family: 'TT Lakes';
    text-decoration: none;
    display: block;
}
.nav__list-item--mod--active {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    background-color: #fff;
    

}
.paragraph__text-info {
    width: 288px;
    height: auto;
    margin: 20px 15px 10px 10px; 
}
.text-info__text {
    font-size: 14px;
    color: #1B1C21;
    font-family: 'TT Lakes';
    
}
.button-read-more {
    font-family: 'TT Lakes';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    border: none;
    width: 144px;
    padding: 5px;
    color: #1B1C21;
    font-size: 16px;
}
.button-read-more:hover{
    border: 2px solid #B8FFEC;
    border-radius: 5px;
}
.paragraph__button-read-more{
    margin: 10px;
}

.paragraph__img {
    width: 100%;
    height: auto;
}
.hiden-for-phone{
    display: none;
}
@media screen and (width > 767px){
    .hiden-for-phone{
        display:block;
    }
    .header__logo {
        margin-right: auto;
        display: flex;
        align-items: center;
        
    }
    .header__button-circle{
        margin-left: 15px;
        margin-right: 10px;
    }
    .header__logo::before {
        content: "";
        Width: 2px;
        Height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin:0 15px 0 10px;
    }
    .header__menu{
        margin-right: 15px;
    }
    .menu__list{
        gap: 15px;
    }



    .main__paragraph {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 268px
    }
    .paragraph__text-info {
        width: 312px;
    }
    .text-info__text--margin-top--20px {
        margin-top: 20px;
    }
    .paragraph__img {
        width: 50%;
        height: auto;
    }
    .hiden-for-plansh {
        display: none;
    }

}
@media screen and (width > 1023px){
    .hiden-for-plansh{
        display:inline;
    }
    .page__header{
      height: 1px;
      width:1px;
      
    }
    .header__menu--position--absolute {
        position: absolute;
        right: 40px;
        top: 20px;
    }
    .title__text--content-before--decorative::before{
        margin-right: 30px;
    }
    .main__paragraph {
        margin-top: 20px;
    }
    .paragraph__text-info {
        width: 490px;
        margin-left: 30px;
    }
    .paragraph__img {
        width: 40%;
        height: 208px;
    }
    .paragraph__button-read-more {
        margin-left: 30px;
    }
    .nav__list {
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        align-items: flex-start;
        margin-left:20px;
    }
    .menu__list-item{
        display:flex;
        align-items:center;
        gap: 10px;
    }
    .menu__list-item--content-before--text-rem::before {
        content: "Оставить заявку";
        display: inline;
        font-family: 'TT Lakes';

    }
    .menu__list-item--content-before--text-zam::before {
        content: "Статус ремонта";
        display: inline;
        font-family: 'TT Lakes';
        margin-left: 20px;
    }
    .nav__list--content-after--decorative::after {
        display: none;
    }
    .hiden-for-deskopt{
        display:none;
    }
    .menu__list--content-before--decoration::before{
        display:none;
    }
}
